*{
    margin: 0;
    padding: 0;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
/*Main css*/
.header {
    background: #f7f9ff;
}
.h-left {
    margin-right: 21px;
}
.h-left img {
    margin-top: 32px;
}
.h-menu {
    margin-top: 38px;
    text-align: center;
}
a.home {
    color: #ff3e8e;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 19px;
    font-family: inherit;
}
a.same {
    color: black;
    display: inline-block;
    font-size: 19px;
    padding: 5px 8px;
    text-transform: uppercase;
    font-family: inherit;
    text-decoration: none;
    border-radius: 5px;
}
a.same:hover {
    color: #ff3e8e;
}
.h-right {
    margin-top: 15px;
    border-left: 1px solid #ebebeb;
}
.h-right p {
    color: black;
    font-size: 14px;
    margin-left: 42px;
}
.h-r-menu {
    margin-left: 65px;
}
.h-r-menu ul {
    text-align: center;
    list-style: none;
}
.h-r-menu ul li {
    display: inline-block;
}
.h-r-menu ul li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 7px 17px;
}
a.live {
    color: black;
    text-decoration: none;
    background: #ffe13e;
    border-radius: 5px;
}
a.number:hover{
    background: #ffe13e;
    color: black;
    border-radius: 5px;
}
/*Slider*/
.slider {
    background-image: url(img/slider_bg.jpg);
    background-size: cover;
    padding: 219px 0;
    color: #fff;
    position: relative;
    z-index: 9;
}
.slider::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba( 0, 0, 0, .40);
    z-index: -1;
}
.sl-top h2 {
    font-size: 53px;
    font-weight: 700;
}
.sl-top p {
    font-size: 40px;
    font-weight: 500;
}
.sl-bottom {
    margin-top: 106px;
    width: 580px;
    height: 136px;
    padding-top: 20px;
    background: #fff;
    margin-left: 256px;
    background: SADDLEBROWN;
    border-radius: 6px;
}
input.domain {
    padding: 6px 9px;
    font-size: 21px;
    width: 296px;
}
select.menu {
    padding: 7px 13px;
    font-size: 21px;
    margin-left: -5px;
    background: yellow;
}
input[type="submit"] {
    margin-top: 11px;
    padding: 6px 29px;
    font-size: 18px;
    font-weight: 500;
    background: yellow;
    border-radius: 5px;
    transition: .4s;
}
input[type="submit"]:hover{
    background: #5ba533;
    color: white;
}
/*Service*/
.s-left {
    width: 50%;
    background: #202242;
    color: white;
    text-align: center;
    padding-top: 69px;
    padding-bottom: 58px;
}
.s-left h3 {
    font-size: 41px;
    margin-top: 10px;
    font-weight: 700;
}
.s-left p {
    font-size: 18px;
}
.s-btn {
    margin-top: 49px;
}
.s-btn a {
    display: inline-block;
    background: white;
    padding: 7px 30px;
    font-size: 23px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: .5s;
}
.s-btn a:hover{
    background: #5ba533;
    color: white;
}
.s-right {
    width: 50%;
    color: white;
    background: darkblue;
    text-align: center;
    padding-top: 61px;
    padding-bottom: 58px;
}
.s-right h1 {
    font-size: 135px;
    font-weight: 700;
}
.s-right h3 {
    margin-top: 25px;
    font-size: 41px;
    font-weight: 700;
}
.s-right p {
    font-size: 18px;
}
/*features*/
.features{
    background: #fbf8f1;
    background-image: url(img/features_shape.png);
}
.features {
    padding-top: 57px;
    padding-bottom: 42px;
}
.f-h-text h1 {
    font-size: 60px;
    font-family: none;
    font-weight: 600;
}
.f-h-text h5 {
    font-size: 30px;
}
.f-bottom {
    margin-top: 44px;
}
.f-box h4 {
    font-size: 28px;
    font-weight: 800;
    color: #f4d320;
    margin-bottom: 22px;
}
.f-box p {
    font-size: 18px;
}
/*client*/
.client {
    margin-top: 100px;
}
.c-heading h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 19px;
}
.c-heading p {
    font-size: 18px;
    color: #767676;
}
.c-img {
    margin-top: 14px;
}
.c-img ul {
    list-style: none;
    text-align: center;
}
.c-img ul li {
    display: inline-block;
}
.c-profile {
    margin-top: 78px;
}
.c-information {
    padding: 20px;
    background: #faf9f9;
    position: relative;
    border-radius: 6px;
    transition: .3s;
    margin-bottom: 60px;
}
.c-information:hover{
    box-shadow: 3px 3px 9px 0 rgba( 0, 0, 0,.5);;
}
.c-information p {
    font-size: 18px;
    color: #a4a4a4;
}
.c-information span {
    font-size: 22px;
    background: repeat;
}
.c-i-img {
    position: absolute;
    bottom: 2px;
    left: 231px;
}
/*Plan*/
.plan {
    margin-top: 120px;
    background: #202242;
    color: white;
    padding: 55px;
}
.p-text h2 {
    font-size: 42px;
    font-family: cursive;
}
.p-text p {
    font-size: 22px;
    margin-top: 21px;
}
.p-btn {
    text-align: right;
}
.p-btn a {
    display: inline-block;
    background: white;
    font-size: 21px;
    padding: 12px 12px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 30px;
    transition: .4s;
    text-decoration: none;
}
.p-btn a:hover{
    background: rgb(228, 16, 27);
    color: white;
}
/*footer*/
.footer {
    background: #363855;
    color: white;
    padding: 50px 0;
}
.f-map {
    background: url(img/footer_bg.png) no-repeat;
    height: 400px;
    position: relative;
}
.f-text {
    position: absolute;
    right: 0px;
    bottom: 97px;
}
.f-text span {
    font-size: 46px;
    color: yellow;
}
.f-text p {
    display: inline-block;
    font-size: 18px;
}
.f-menu h5 {
    font-size: 26px;
    margin-bottom: 40px;
}
.f-menu ul {
    list-style: none;
}
.f-menu ul li {
    margin-bottom: 10px;
}
.f-menu ul li a {
    font-size: 21px;
    text-decoration: none;
    color: white;
    transition: .3s;
}
.f-menu ul li a:hover{
    color: yellow;
}
/*Footer bottom*/
.footer-bottom{
    background: #6e1818e7;
    color: white;
    text-align: center;
}
.f-b-text {
    margin-top: 23px;
}
.f-b-text p {
    font-size: 21px;
    font-family: initial;
}
.f-b-menu ul {
    list-style: none;
    text-align: right;
}
.f-b-menu ul li {
    display: inline-block;
    margin-top: 12px;
    padding: 0 10px;
}
.f-b-menu ul li a {
    color: white;
    font-size: 32px;
}